
/*=================================================
  ================ GENERAL ========================
  =================================================*/
  
/********** Insertion des polices du site **********/

@font-face {
	  font-family: 'Roboto';
	  font-style: normal;
	  src: local('Roboto'), local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/roboto.woff) format('woff');
}

/********** Gestion du global **********/

body, html 
{
	background-color: rgb(248,248,255);
	margin-top: 0px;
	width: 100% ;
	height: 100% ;
	overflow: visible;
	position: relative;
}

/********** Gestion de la section centrale **********/

.content-wrapper
{
	background-color: white;
	padding: 40px;
	font-family: 'roboto';
	text-align: center;
	width:800px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size:20px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px grey;
	dstext-decoration: underline;
}

.center 
{
	font-family: 'roboto';
	text-align: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size:20px;
	dstext-decoration: underline;
}

.centerFunc
{
	font-family:'roboto';
	text-align: left;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size:20px;
	dstext-decoration: underline;
}

/********** Gestion de l'affichage d'une autre page dans la page **********/

iframe.navigOnCIPC
{
	left:0;
	width:100%;
	height:100%;
	position:absolute;
}

iframe.connect
{
	height: 200px;
	width: 220px;
}

/********** Gestion des titres **********/

h1
{
	font-family: 'roboto', Arial, sans-serif;
	text-align: center;
	display: inline;
	border-bottom: 1px solid black;
	font-weight: normal;
	font-size: 50px;
}

h2
{
	padding-left: 40px;
	font-family: 'roboto', Arial, sans-serif;
	text-align: left;
	display: inline;
	font-weight: bold;
	font-size: 30px;
}

/********** Affichage des boutons de changement de page **********/

.navButton
{
	margin: 10px;
	padding: 6px;
	padding-right: 10px;
	padding-left: 10px;
	display: inline-block;
	background-color: rgb(250,250,250);
	border-radius: 20px;
	box-shadow:0px 1px 3px grey;
	position: static;
}

.navButton a:hover
{
	font-style: normal;
}

.navButton:hover
{
	box-shadow: 0px -1px 1px grey;
}

/********** Paragraphe de textes très courts **********/

p.message
{
	line-height: 60px;
}

/********** Affichage des liens **********/

a
{
	color:#4CA6FF;
	text-decoration: none;
	font-weight: normal;
}

a:hover
{
	font-style: oblique;
}

/********** Divisions de la page options **********/
div.bloc
{
	margin: 20px;
}

/********** Affichage contextuel d'informations **********/

.infos 
{
	display: none;
}

hr.infos
{
	width: 400px;
}

#picBatman
{
	width: 100px;
	margin: auto;
	margin-bottom: 20px;
}

select 
{
	font-family: 'roboto';
	font-size: 80%;
}

/********** Affichage des formulaires **********/

.form1
{
	font-family: 'roboto';
	border-radius: 5px;
	font-size: 100%;
}

/********** Tableau de commandes **********/

.tab-command
{
	margin: auto;
	padding:10px;
}

.tab-command  thead
{
	background-color: rgb(240,100,70);
	font-weight: bold;
	color: white;
	padding: 10px;
}

.l-pair
{
	background-color: rgba(200,200,255,0.2);
}

.l-impair
{
	background-color: rgba(200,200,255,0.4);
}

/********** Demineur **********/

#center-dem, #content-dem
{
	width: auto;
	max-width: 1500px;
}

#game-bloc
{
	text-align:left;
	background-color: black;
	color: white;
	display: inline-block;
}

.tile
{
	margin:0px;
	padding:0px;
	box-shadow: 0px 0px 8px black;
	background-color:rgb(200,200,200);
	height: 25px;
	width: 25px;
}

.tile:hover
{
	background-color:rgb(220,220,220);
}

.tile:active
{
	margin: 1px;
	height: 23px;
	width: 23px;
}

.ligne-dem
{
	font-size:15px;
	margin: 0px;
	margin-bottom: -3px;
	padding: 0px;
}
#game-bloc
{
	display: inline-block;
	vertical-align:top;
}
}

#score
{
	display: inline-block;
	vertical-align:top;
}


